services:
  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    restart: unless-stopped
    network_mode: service:qdrant-on-vps
    volumes:
      - qdrant-storage:/qdrant/storage
      - qdrant-snapshots:/qdrant/snapshots
      - ./config.yaml:/qdrant/config/production.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  qdrant-on-vps:
    image: tailscale/tailscale:latest
    hostname: qdrant-on-vps
    environment:
      - TS_EXTRA_ARGS=--auth-key file:/run/secrets/tsauthkey
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ${PWD}/tailscale-qdrant/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
    secrets:
      - tsauthkey

secrets:
  tsauthkey:
    file: ~/.config/tsauthkey

volumes:
  qdrant-storage:
  qdrant-snapshots:
