services:
  caddy:
    build: .
    container_name: caddy
    hostname: caddy
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy-data:/data
      - ./caddy-config:/config
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - vps
