networks:
  vps:
    external: true

services:
  redis:
    container_name: redis
    image: docker.io/valkey/valkey:latest
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    network_mode: service:redis-on-vps
    volumes:
      - valkey-data2:/data
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "1"

  redis-on-vps:
    image: tailscale/tailscale:latest
    hostname: redis-on-vps
    environment:
      - TS_EXTRA_ARGS=--auth-key file:/run/secrets/tsauthkey
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ${PWD}/tailscale-state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
    secrets:
      - tsauthkey
    networks:
      - vps

secrets:
  tsauthkey:
    file: ~/.config/tsauthkey

volumes:
  valkey-data2:
